<div id="<%= dom_id task_item %>">
  <p>
    <strong>Description:</strong>
    <%= task_item.description %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= task_item.done %>
  </p>

  <p>
    <strong>Task list:</strong>
    <%= task_item.task_list_id %>
  </p>

</div>
